body {
    background-image: url(images\ \(3\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container {
    color: beige;
}
h4 {
    color: lightblue;
}
img {
    width: 900px;
    height: 500px;
}
.explanation {
    color: beige;
}

.navbar {
   background: rgba(245, 245, 245, 0.105);
   font-family: Calibri;
    padding-right: 15px; 
    padding-left: 15px;
}
.navdiv {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
li {
    list-style: none;
    display: inline-block;
}
li a{
    color: skyblue;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}
.logo a {
    font-size: 30px;
    font-weight: bolder;
    color: skyblue;
}
*{
    text-decoration: none;
}
p {
    color: rgb(245, 245, 245);
}
