footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.social-links {
    margin-bottom: 10px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
}

.social-links img {
    width: 40px; /* Adjust the size as needed */
    height: auto;
}
